<div class="container">

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><%= link_to @spec.display_name, specification_path(@spec, anchor: 'path_parameters') %></li>
  <li class="active">Path Parameters</li>
</ol>

<h1>Edit path parameters</h1>

<%= form_tag(specification_path_parameters_path(@spec), method: "put") do %>
  <%= text_area_tag(:path_parameters_text, @spec.path_parameters_text) %>
  <br/><%= submit_tag("Update", class: "btn btn-primary") %>
  <%= link_to "Cancel", specification_path(@spec, anchor: 'paths'), class: "btn btn-default" %>
<% end %>

</div>
