<div class="container">

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><%= link_to @spec.display_name, specification_path(@spec, anchor: 'paths') %></li>
  <li class="active"><%= @path.uri %></li>
</ol>

<h1>Edit a path</h1>

<%= form_tag(specification_path_path(@spec, @path), method: "put") do %>
  <br/><%= label_tag(:uri, "URI:") %>
  <br/><%= text_field_tag(:uri, @path.uri, class: "form-control") %>
  <br/><%= submit_tag("Update", class: "btn btn-primary") %>
  <%= link_to "Cancel", specification_path_path(@spec, @path), class: "btn btn-default" %>
<% end %>

</div>
