<div class="container">

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><%= link_to @spec.display_name, specification_path(@spec, anchor: 'paths') %></li>
  <li class="active"><%= @path.uri %></li>
</ol>

<h1><%= @path.uri %></h1>
<%= link_to 'Back', specification_path(@spec, anchor: 'paths'), class: "btn btn-info" %>
<%= link_to 'Edit', edit_specification_path_path(@spec, @path), class: "btn btn-primary" %>
<%= link_to 'Destroy', specification_path_path(@spec, @path), data: { confirm: 'Are you sure?' }, class: "btn btn-danger", :method => :delete %>

<br/><br/><br/>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Method</th>
    <th>Batch</th>
    <th>Visibility</th>
    <th>Status</th>
  </tr>
<% @path.verbs.each do |verb| %>
<tr>
  <td><%= verb.name %></td>
  <td><%= verb.method %></td>
  <td><%= verb.batch %></td>
  <td><%= verb.visibility %></td>
  <td><%= verb_status(verb) %></td>
</tr>
<% end %>
</table>

</div>
