<div class="container">

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><%= link_to @spec.display_name, specification_path(@spec, anchor: 'models') %></li>
  <li class="active"><%= @model.name %></li>
</ol>

<h1>Edit a model</h1>

<%= form_tag(specification_model_path(@spec, @model), method: "put") do %>
  <br/><%= label_tag(:name, "Name:") %>
  <br/><%= text_field_tag(:name, @model.name, class: "form-control") %>
  <br/><%= label_tag(:properties_text, "Properties:") %>
  <br/><%= text_area_tag(:properties_text, @model.properties_text, class: "properties-editor") %>
  <br/><%= submit_tag("Update", class: "btn btn-primary") %>
  <%= link_to "Cancel", specification_model_path(@spec, @model), class: "btn btn-default" %>
<% end %>

</div>
