<div class="container">

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><%= link_to @spec.display_name, specification_path(@spec, anchor: 'models') %></li>
  <li class="active">Create a model</li>
</ol>

<h1>Create a model</h1>

<%= form_tag(specification_models_path(@spec), method: "post") do %>
  <%= render partial: 'models/form', locals: { model: Model.new } %>
  <br/><%= submit_tag("Create", class: "btn btn-primary") %>
  <%= link_to "Cancel", specification_path(@spec, anchor: 'models'), class: "btn btn-default" %>
<% end %>

</div>
