<div class="container">

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><%= link_to @spec.display_name, specification_path(@spec, anchor: 'models') %></li>
  <li class="active"><%= @model.name %></li>
</ol>

<h1><%= @model.name %></h1>
<%= link_to 'Back', specification_path(@spec, anchor: 'models'), class: "btn btn-info" %>
<%= link_to 'Edit', edit_specification_model_path(@spec, @model), class: "btn btn-primary" %>
<%= link_to 'Destroy', specification_model_path(@spec, @model), data: { confirm: 'Are you sure?' }, class: "btn btn-danger", :method => :delete %>

<%= render partial: 'shared/properties', locals: { properties: @model.model_properties } %>

<br/>

<h2>References by:</h2>
<table class="table">
  <%
    (ModelProperty.where('data_type = ? or format = ?', @model.name, @model.name).collect(&:model).uniq
          .collect{ |model| link_to model.name, specification_model_path(@spec, model) }
    .concat RequestBodyProperty.where('data_type = ? or format = ?', @model.name, @model.name).collect(&:verb).uniq
          .collect{ |verb| link_to verb.name, specification_path_verb_path(@spec, verb.path, verb, anchor: 'request_body') }
    .concat ResponseBodyProperty.where('data_type = ? or format = ?', @model.name, @model.name).collect(&:verb).uniq
          .collect{ |verb| link_to verb.name, specification_path_verb_path(@spec, verb.path, verb, anchor: 'response_body') }
    ).each_with_index do |link, index|
  %>
    <tr><td><%= index + 1 %>. &nbsp; <%= link %></td></tr>
  <% end %>
</table>

</div>
