<div class="container">

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><%= link_to @spec.display_name, specification_path(@spec, anchor: 'paths') %></li>
  <li><%= link_to @path.uri, specification_path_path(@spec, @path) %></li>
  <li><%= link_to @verb.name, specification_path_verb_path(@spec, @path, @verb, anchor: 'response_body') %></li>
  <li class="active">Response Model</li>
</ol>

<h1>Create a model</h1>

<%= form_tag(specification_path_verb_response_models_path(@spec, @path, @verb), method: "post") do %>
  <br/><%= label_tag(:name, "Name:") %>
  <br/><%= text_field_tag(:name, "", class: "form-control") %>
  <br/><%= label_tag(:properties_text, "Properties:") %>
  <%= text_area_tag(:properties_text, "") %>
  <br/><%= submit_tag("Create", class: "btn btn-primary") %>
  <%= link_to "Cancel", specification_path_verb_path(@spec, @path, @verb, anchor: 'response_body'), class: "btn btn-default" %>
<% end %>

</div>
