<table class="table">
  <thead>
    <tr><th>Name</th><th>Type</th><th>Format</th><th>Required</th><th>Description</th></tr>
  </thead>
  <tbody>
    <% properties.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.type %></td>
        <td><%= truncate item.format, length: 32 %></td>
        <td><%= item.required %></td>
        <td><%= truncate item.description, length: 64 %></td>
      </tr>
    <% end %>
  </tbody>
</table>
