<div class="container">

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active"><%= @spec.display_name %></li>
</ol>

<h1>Edit a specification</h1>

<%= form_tag(specification_path(@spec), method: "put") do %>
  <%= render partial: 'specifications/form', locals: { spec: @spec } %>
  <br/><%= submit_tag("Update", class: "btn btn-primary") %>
  <%= link_to "Cancel", @spec, class: "btn btn-default" %>
<% end %>

</div>
