<div class="container">

<ol class="breadcrumb">
  <li class="active">Home</li>
</ol>

<h1>Specifications</h1>

<table class="table">
  <thead>
    <tr>
      <th>Specification</th>
      <th>Description</th>
      <th>Swagger Spec</th>
      <th>API Explorer Spec</th>
    </tr>
  </thead>
  <tbody>
  <% Specification.all.each do |spec| %>
    <tr>
      <td><%= link_to spec.display_name, spec %></td>
      <td><%= truncate spec.description, length: 64 %></td>
      <td>
        <%= link_to 'JSON', swagger_specification_path(spec, format: 'json', v: 'Basic,Advanced'), class: 'btn btn-info' %>
        <%= link_to 'YAML', swagger_specification_path(spec, format: 'yaml', v: 'Basic,Advanced'), class: 'btn btn-info' %>
      </td>
      <td>
        <%= link_to 'JSON', api_explorer_specification_path(spec, format: 'json', v: 'Basic,Advanced'), class: 'btn btn-info' %>
        <%= link_to 'YAML', api_explorer_specification_path(spec, format: 'yaml', v: 'Basic,Advanced'), class: 'btn btn-info' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<hr/>

<a href="/specifications/new" class="btn btn-primary">Create a specification</a>

</div>
