<div class="container">

<h1>Specifications</h1>

<table class="table">
<% Specification.all.each do |spec| %>
<tr>
  <td><%= spec.version %></td>
  <td><%= spec.title %></td>
  <td><%= truncate spec.description %></td>
  <td><%= link_to 'View', spec, class: "btn btn-primary" %></td>
  <td><%= link_to 'Edit', edit_specification_path(spec), class: "btn btn-primary" %></td>
  <td><%= link_to 'Destroy', spec, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", :method => :delete %></td>
</tr>
<% end %>
</table>

<hr/>

<a href="/specifications/new" class="btn btn-primary">Create a new specification</a>

</div>
