<div class="container">

<ol class="breadcrumb">
  <li class="active">Home</li>
</ol>

<h1>Specifications</h1>

<table class="table">
  <thead>
    <tr>
      <th>Specification</th>
      <th>Description</th>
      <th>Validate</th>
      <th>Swagger Spec</th>
      <th>API Explorer Spec</th>
      <th>API Reference</th>
    </tr>
  </thead>
  <tbody>
  <% Specification.all.each do |spec| %>
    <tr>
      <td><%= link_to spec.display_name, spec %></td>
      <td><%= truncate spec.description, length: 64 %></td>
      <td><%= link_to 'Validate', validate_specification_path(spec), class: 'btn btn-primary' %></td>
      <td>
        <%= link_to 'JSON', swagger_specification_path(spec, format: 'json', v: 'Basic,Advanced'), class: 'btn btn-info' %>
        <%= link_to 'YAML', swagger_specification_path(spec, format: 'yaml', v: 'Basic,Advanced'), class: 'btn btn-info' %>
      </td>
      <td>
        <%= link_to 'JSON', api_explorer_specification_path(spec, format: 'json', v: 'Basic,Advanced'), class: 'btn btn-info' %>
        <%= link_to 'YAML', api_explorer_specification_path(spec, format: 'yaml', v: 'Basic,Advanced'), class: 'btn btn-info' %>
      </td>
      <td>
        <%= link_to 'Markdown', api_reference_specification_path(spec, format: 'md', v: 'Basic,Advanced'), class: 'btn btn-info' %>
        <%= link_to 'HTML', api_reference_specification_path(spec, format: 'html', v: 'Basic,Advanced'), class: 'btn btn-info' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<hr/>

<% if Specification.count == 0 %>
<a href="/specifications/new" class="btn btn-primary">Create a specification</a>
<% end %>

<%= link_to "Dump DB", dump_specifications_path, class: "btn btn-success" %>

</div>
