<div class="container">
  <h1><%= @spec.title %></h1>
  <a href="/" class="btn btn-default">Back to list</a>
  <%= link_to 'Edit', edit_specification_path(@spec), class: "btn btn-primary" %>
  <%= link_to 'Destroy', @spec, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", :method => :delete %>
  <dl>
    <dt>Version</dt>
    <dd><%= @spec.version %></dd>
    <dt>Title</dt>
    <dd><%= @spec.title %></dd>
    <dt>Description</dt>
    <dd><%= @spec.description %></dd>
    <dt>Terms of Service</dt>
    <dd><%= @spec.termsOfService %></dd>
    <dt>Host</dt>
    <dd><%= @spec.host %></dd>
    <dt>Base Path</dt>
    <dd><%= @spec.basePath %></dd>
    <dt>Schemes</dt>
    <dd><%= @spec.schemes %></dd>
    <dt>Produces</dt>
    <dd><%= @spec.produces %></dd>
    <dt>Consumes</dt>
    <dd><%= @spec.consumes %></dd>
  </dl>


  <h2>Definitions</h2>
  <table class="table">
    <thead>
      <tr><td>Name</td><td>Description</td><td>Edit</td></tr>
    </thead>
    <tbody>
      <% @spec.definitions.order('id asc').each do |defi| %>
      <tr>
        <td><%= defi.name %></td>
        <td><%= truncate defi.description %></td>
        <td><%= link_to "Edit", edit_specification_definition_path(@spec, defi), class: "btn btn-primary" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <hr/>

  <%= link_to "Create a definition", new_specification_definition_path(@spec), class: "btn btn-primary" %>

  <h2>Paths</h2>
</div>
