<div class="container">

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active"><%= @spec.display_name %></li>
</ol>

<h1><%= @spec.display_name %></h1>
<%= link_to 'Edit', edit_specification_path(@spec), class: "btn btn-primary" %>
<%= link_to 'Destroy', @spec, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", :method => :delete %>
<dl>
  <dt>Version</dt>
  <dd><%= @spec.version %></dd>
  <dt>Title</dt>
  <dd><%= @spec.title %></dd>
  <dt>Description</dt>
  <dd><%= @spec.description %></dd>
  <dt>Terms of Service</dt>
  <dd><%= @spec.termsOfService %></dd>
  <dt>Host</dt>
  <dd><%= @spec.host %></dd>
  <dt>Base Path</dt>
  <dd><%= @spec.basePath %></dd>
  <dt>Schemes</dt>
  <dd><%= @spec.schemes %></dd>
  <dt>Produces</dt>
  <dd><%= @spec.produces %></dd>
  <dt>Consumes</dt>
  <dd><%= @spec.consumes %></dd>
</dl>


<h2 id="definitions">Definitions</h2>

<p>
<br/><%= link_to "Create a definition", new_specification_definition_path(@spec), class: "btn btn-primary" %>
</p>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <% @spec.definitions.group_by(&:prefix).each do |key, group| %>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading<%= key %>">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= key %>" aria-expanded="false" aria-controls="collapse<%= key %>">
          <%= key %>
        </a>
      </h4>
    </div>
    <div id="collapse<%= key %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= key %>">
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr><th>View</th><th>Name</th><th>Description</th></tr>
          </thead>
          <tbody>
            <% group.each do |defi| %>
              <tr>
                <td><%= link_to "View", specification_definition_path(@spec, defi), class: "btn btn-primary" %></td>
                <td><%= defi.name %></td>
                <td><%= truncate defi.description %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <% end %>
</div>


<h2>Paths</h2>

</div>
