<div class="container">

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active"><%= @spec.display_name %></li>
</ol>

<h1><%= @spec.display_name %></h1>
<%= link_to 'Back', root_path, class: "btn btn-info" %>
<%= link_to 'Edit', edit_specification_path(@spec), class: "btn btn-primary" %>
<%= link_to 'Destroy', @spec, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", :method => :delete %>

<hr/>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Info</a></li>
  <li role="presentation"><a href="#path_parameters" aria-controls="path_parameters" role="tab" data-toggle="tab">Path Parameters</a></li>
  <li role="presentation"><a href="#paths" aria-controls="paths" role="tab" data-toggle="tab">Paths</a></li>
  <li role="presentation"><a href="#models" aria-controls="models" role="tab" data-toggle="tab">Models</a></li>
</ul>

<div class="tab-content">

<!-- tab #1: info -->
<div role="tabpanel" class="tab-pane active" id="info">
  <dl>
    <dt>Version</dt>
    <dd><%= @spec.version %></dd>
    <dt>Title</dt>
    <dd><%= @spec.title %></dd>
    <dt>Description</dt>
    <dd><%= @spec.description %></dd>
    <dt>Terms of Service</dt>
    <dd><%= @spec.termsOfService %></dd>
    <dt>Host</dt>
    <dd><%= @spec.host %></dd>
    <dt>Base Path</dt>
    <dd><%= @spec.basePath %></dd>
    <dt>Schemes</dt>
    <dd><%= @spec.schemes %></dd>
    <dt>Produces</dt>
    <dd><%= @spec.produces %></dd>
    <dt>Consumes</dt>
    <dd><%= @spec.consumes %></dd>
  </dl>
</div><!-- tab #1 -->

<!-- tab #2: path_parameters -->
<div role="tabpanel" class="tab-pane" id="path_parameters">
  <p><br/><%= link_to "Edit", edit_specification_path_parameters_path(@spec), class: "btn btn-primary" %></p>
  <%= render partial: 'shared/properties', locals: { properties: @spec.path_parameters } %>
</div><!-- tab #2 -->

<!-- tab #3: paths -->
<div role="tabpanel" class="tab-pane" id="paths">
  <p>
  <br/><%= link_to "Create a path", new_specification_path_path(@spec), class: "btn btn-primary" %>
  </p>
  <table class="table">
    <% @spec.paths.each_with_index do |path, index| %>
      <tr><td>
        <%= index + 1 %>.
        &nbsp; <%= link_to path.uri, specification_path_path(@spec, path) %>
        &nbsp; <%= path_status(path) %>
      </td></tr>
    <% end %>
  </table>
</div><!-- tab #3 -->

<!-- tab #4: models -->
<div role="tabpanel" class="tab-pane" id="models">
  <p>
  <br/><%= link_to "Create a model", new_specification_model_path(@spec), class: "btn btn-primary" %>
  </p>
  <table class="table">
    <% @spec.models.each_with_index do |model, index| %>
      <tr><td>
        <%= index + 1 %>.
        &nbsp; <%= link_to model.name, specification_model_path(@spec, model) %>
        &nbsp; <span class="badge" data-toggle="tooltip" data-placement="right" title="<%= pluralize model.model_properties.count, "property" %>"><%= model.model_properties.count %></span>
      </td></tr>
    <% end %>
  </table>
</div><!-- tab #4 -->

</div><!-- tabs -->

</div><!-- container -->
