<div class="container">

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><%= link_to @spec.display_name, specification_path(@spec, anchor: 'paths') %></li>
  <li><%= link_to @path.uri, specification_path_path(@spec, @path) %></li>
  <li class="active">Create a request</li>
</ol>

<h1>Create a request</h1>

<%= form_tag(specification_path_verbs_path(@spec, @path), method: "post") do %>
  <%= render partial: 'verbs/form', locals: { verb: Verb.new } %>
  <br/><%= submit_tag("Create", class: "btn btn-primary") %>
  <%= link_to "Cancel", specification_path_path(@spec, @path), class: "btn btn-default" %>
<% end %>

</div>
