<div class="container">

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><%= link_to @spec.display_name, specification_path(@spec, anchor: 'paths') %></li>
  <li><%= link_to @path.uri, specification_path_path(@spec, @path) %></li>
  <li class="active"><%= @verb.name %></li>
</ol>

<h1><%= @verb.name %></h1>
<%= link_to 'Back', specification_path_path(@spec, @path), class: "btn btn-info" %>
<%= link_to 'Edit', edit_specification_path_verb_path(@spec, @path, @verb), class: "btn btn-primary" %>
<%= link_to 'Destroy', specification_path_verb_path(@spec, @path, @verb), data: { confirm: 'Are you sure?' }, class: "btn btn-danger", :method => :delete %>

<dl>
  <dt>Method</dt>
  <dd><%= @verb.method %></dd>
  <dt>Batch</dt>
  <dd><%= @verb.batch %></dd>
  <dt>Visibility</dt>
  <dd><%= @verb.visibility %></dd>
  <dt>status</dt>
  <dd><%= verb_status(@verb) %></dd>
</dl>

<h3>Query Parameters</h3>

<p><%= link_to "Edit", edit_specification_path_verb_query_parameters_path(@spec, @path, @verb), class: "btn btn-primary" %></p>

<% if @verb.query_parameters.count == 0 %>
<p>None</p>
<% else %>
<table class="table">
  <thead>
    <tr><th>Name</th><th>Type</th><th>Format</th><th>Required</th><th>Description</th></tr>
  </thead>
  <tbody>
    <% @verb.query_parameters.each do |qp| %>
      <tr>
        <td><%= qp.name %></td>
        <td><%= qp.type %></td>
        <td><%= qp.format %></td>
        <td><%= qp.required %></td>
        <td><%= truncate qp.description, length: 64 %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>


<h3>Request Body</h3>

<p><%= link_to "Edit", edit_specification_path_verb_request_body_properties_path(@spec, @path, @verb), class: "btn btn-primary" %></p>

<% if @verb.request_body_properties.count == 0 %>
<p>None</p>
<% else %>
<table class="table">
  <thead>
    <tr><th>Name</th><th>Type</th><th>Format</th><th>Required</th><th>Description</th></tr>
  </thead>
  <tbody>
    <% @verb.request_body_properties.each do |rbp| %>
      <tr>
        <td><%= rbp.name %></td>
        <td><%= rbp.type %></td>
        <td><%= rbp.format %></td>
        <td><%= rbp.required %></td>
        <td><%= truncate rbp.description, length: 64 %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

</div>
